@fullcalendar/core@^6.1.17
@fullcalendar/daygrid@^6.1.17
@fullcalendar/interaction@^6.1.17
@fullcalendar/react@^6.1.17
@fullcalendar/timegrid@^6.1.17
@headlessui/react@^2.2.4
axios@^1.9.0
date-fns@^4.1.0
lucide-react@^0.511.0
react@^19.1.0
react-dom@^19.1.0
react-datepicker@^8.4.0
react-modal@^3.16.3
react-router-dom@^6.30.0
react-scripts@^5.0.1
web-vitals@^2.1.4
xlsx@^0.18.5



tailwindcss@^3.4.1
postcss@^8.4.38
autoprefixer@^10.4.19