<!DOCTYPE html>
<html>
<head>
    <title>Examene Acceptate</title>
    <style>
        table {
            width: 90%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #999;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <a href="/cadru/propuneri">Vezi propuneri</a>
    <a href="/cadru/asistent-la">Vezi examene unde ești asistent</a>
    <h2 style="text-align:center;">Examene acceptate pentru {{ cadru.firstName }} {{ cadru.lastName }}</h2>

    {% if examene %}
    <table>
        <tr>
            <th>Disciplina</th>
            <th>An</th>
            <th>Grupa</th>
            <th>Data și Ora</th>
            <th>Durata</th>
            <th>Sala</th>
            <th>Asistent</th>
        </tr>
        {% for e in examene %}
        <tr>
            <td>{{ e.disciplina.topic }}</td>
            <td>{{e.disciplina.subgrupa.studyYear}}</td>
            <td>{{e.disciplina.subgrupa.groupName}}{{e.disciplina.subgrupa.subgroupIndex}}</td>
            <td>{{ e.data }}</td>
            <td>{{ e.durata }}h</td>
            <td>{{ e.sala.name if e.sala else "—" }}</td>
            <td>
    {% if e.asistent %}
        {{ e.asistent.firstName }} {{ e.asistent.lastName }}
    {% else %}
        —
    {% endif %}
</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p style="text-align:center;">Nu ai examene acceptate.</p>
    {% endif %}

    <a href="/cadru/export-excel">
    <button style="margin-bottom: 10px;">Descarcă Excel</button>
</a>
</body>
</html>
