<!-- templates/secretariat_examene_lista.html -->
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Lista examenelor programate</title>
</head>
<body>
<h2>📘 Examene Programate</h2>
<table border="1">
    <thead>
        <tr>
            <th>Disciplina</th>
            <th>Titular</th>
            <th>Data</th>
            <th>Durata</th>
            <th>Sala</th>
            <th>Acțiune</th>
        </tr>
    </thead>
    <tbody>
    {% for examen in examene %}
        <tr>
            <td>{{ examen.disciplina.topic }}</td>
            <td>{{ examen.disciplina.cadru.firstName }} {{ examen.disciplina.cadru.lastName }}</td>
            <td>{{ examen.data }}</td>
            <td>{{ examen.durata }} ore</td>
            <td>{{ examen.sala.name}}</td>
            <td>
  {% if examen.asistent %}
    {{ examen.asistent.firstName }} {{ examen.asistent.lastName }}
  {% else %}
    —
  {% endif %}
</td>
            <td>
                <a href="/secretariat/examen/{{ examen.id }}">
                    <button>✏️ Editează</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
