<!DOCTYPE html>
<html>
<head>
    <title>Propunere Examen</title>
</head>
<body>
    <h2>Propune o data pentru examen</h2>
    <form method="post" action="/sefgrupa/propunere">
        <label for="disciplina">Alege disciplina:</label>
        <select name="disciplina_id" required>
          {% for d in discipline %}
            <option value="{{ d.id }}">{{ d.topic }} - {{ d.cadru.firstName }} {{ d.cadru.lastName }}</option>
          {% endfor %}
        </select>
      
        <label for="data">Alege data și ora:</label>
        <input type="datetime-local" name="data" required>
      
        <input type="hidden" name="durata" value="2">
        <button type="submit">Trimite propunerea</button>
      </form>
</body>
</html>